{% layout "layout.liquid" %}
{% block content %}

<header>
    <h1>PetStars</h1>
    <a href="/dogs/new" class="button1"><button>ADD PET</button></a>
    <a href="/user/logout" class="button2"><button>LOG OUT</button></a>
</header>
    
</div>
<div>

    {% for dog in dogs %}
    <article id="index">
        <ul>
        <a href="/dogs/{{ dog._id }}"><img src="{{dog.img}}">
            
        </a>
        </ul>
    </article>

    {% endfor %}


</div>

{% endblock %}

